<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!-- ruta donde se encuentran los drivers (chromedriver.exe, IEDriverServer.exe, etc) en la pc -->
    <add key="DriversPath" value="\Drivers" />
    <!-- Valores Posibles: FireFox, IExplorer, Chrome-->
    <add key="WebDriverType" value="Chrome" />
    <!-- bool para determinar si se ejecuta sin interface gráfica (solo chrome) -->
    <add key="headdless" value="false" />
    <!-- ruta por defecto donde se guardan los print de pantalla. Puede sobrescribirse por código-->
    <add key="DefaultImagePath" value="C:\test\img\" />
    <!-- ruta donde se guardan los reportes html-->
    <add key="HtmlReportsPath" value="C:\test\" />
	</appSettings>

  <connectionStrings>
    <add name="FwkConection" connectionString="user id=[USERID];data source=[DATASOURCE];password=[PASSWORD]" providerName="GotDotNet.ApplicationBlocks.Data.Oracle" />
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.3.0" newVersion="3.7.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>